
#page_header{
    text-align: center;
    background: linear-gradient(0.25turn, #053DC5, 40%, #011954);
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.aside h1 {
    font-size: 25px;
    margin: 15px 0;
}

.aside {
    margin-left: 10px;
}

.currentDisplay {
    border: 2px solid blue;
    margin: 10px 0;
    padding-left: 15px;
    padding-top: 10px;
}

.wind {
    color: rgb(36, 154, 193);
}

.humidity {
    color: red;
}

#fiveFore {
    font-size: 25px;
}

.futureWeather {
    display: flex;
}

.weatherForecast{
    margin: 5px;
    padding: 10px;
    background-color: #00002E;
    color: white;
}

.fiveday {
    display: inline-flex;
}

/* .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    padding: 2.5%;
    background-color: #011954;
  } */